<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <p align=center>RESULTS</p>
        <ul>
            <li>
                POLYNOMIAL
                <br/>
                <table border='1'>
                    <tbody>
                        <tr>
                            <td>
                                standard form
                            </td>
                            <td>
                                <% for (const frags of validity.polyString) { %>
                                    <%= frags[0] %><sup><%= frags[1] %></sup>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                array form
                            </td>
                            <td><%= JSON.stringify(validity.coefs) %></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li>
                ROOTS (Complex ones occur in conjugate pairs.)
                <br/>
                <table border="1">
                    <thead>
                        <tr>
                            <th>real part</th>
                            <th>imaginary part</th>
                            <th>modulus</th>
                            <th>phase</th>
                            <th>irreducible factor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const root of validity.roots) { %>
                            <tr>
                                <td><%= root.r %></td>
                                <td><%= root.i %></td>
                                <td><%= root.abs %></td>
                                <td><%= root.arg %></td>
                                <td>TBD</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </li>
            <li>
                VALIDITY check of roots (All numbers should be small.)
                <br/>
                <table>
                    <thead>
                        <tr>
                            <th>type</th>
                            <th>real part</th>
                            <th>imaginary part</th>
                            <th>modulus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>based on product of roots</td>
                            <td><%= validity.prod.real %></td>
                            <td><%= validity.prod.imag %></td>
                            <td><%= validity.prod.abs %></td>
                        </tr>
                        <tr>
                            <td>based on sum of roots</td>
                            <td><%= validity.sum.real %></td>
                            <td><%= validity.sum.imag %></td>
                            <td><%= validity.sum.abs %></td>
                        </tr>
                        <tr>
                            <td>sum of moduli of polynomial<br/>evaluated at each root</td>
                            <td colspan="3"><%= validity.sumMod %></td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </body>
</html>
